body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f5f9;
    font-family: Arial, Helvetica, sans-serif;
}

.counter-box {
    background: white;
    padding: 30px;
    width:280px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 10px;
    font-size: 22px;
}

#count {
    font-size: 48px;
    margin: 20px 0;
    color: #4f46e5;
}

button {
    padding: 10px 16px;
    margin:5px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.inc {
    background: #22c55e;
    color: white;
}

.dec {
    background: #ef4444;
    color: white;
}

.reset {
    background: #64748b;
    color: white;
    margin-top: 10px;
    width: 100%;
}
