body {
    background:#0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}


.display {
    background: black;
    color: #22c55e;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 6px;
    min-height: 40px;
}

button {
    width:55px;
    height:45px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

.clear {
    width: 96.5%;
}