body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f5f9;
}

button {
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    background: #4f46e5;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}


.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;

}

.overlay.show {
    display: flex;
}

.modal {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.close {
    position: absolute;
    top: 8px;
    right:10px;
    cursor: pointer;
    font-size: 18px;
    color: #f00;
}

