body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #fad5ff;
}

.box {
    background: #f4f4f4;
    padding: 25px;
    width:320px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.box h2 {
    text-align: center;
}

input {
    width:100%;
    padding: 10px;
    margin-top:12px;
    font-size: 16px;
    border-radius: 6px;
    border:1px solid #cbd5f5;
    position: relative;
    right:10px;
}

button {
    margin-top: 15px;
    width:100%;
    padding: 10px;
    font-size: 16px;
    background: #4f46e5;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.resultContainer {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}