body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f8fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider {
    width:320px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
}

button {
    margin: 10px;
    height:25px;
    width:25px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition: all 0.3s linear;
    
}

.icon {
    height:20px;
    width: 20px;
    position: relative;
    right: 3.5px;
    top:1px;
}

button:hover {
    transform: scale(1.1);
    filter: hue-rotate(90deg);
}
