body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b2b2b;
    color: #fff;
}

.timer {
    width:490px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #747474;
    padding: 35px;
    color: #00ffee;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.2);
}

.box {
    position: relative;
    width: 75px;
    height: 75px;
    background: #2b2b2b;
    margin: 25px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    
}

.value {
    font-size: 25px;
    font-weight: 700;
    text-shadow: 0px 10px 40px rgba(31, 255, 255, 0.725);
    margin-top: 23px;
}

.label {
    position: absolute;
    top:85px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.label-1 {
    left:8px;
}

.label-2 {
    left:3.5px;
}

.label-3 {
    left:0;
}

.label-4 {
    left:0px;
}


